html {
  font-family: Roboto, sans-serif;
}

.masthead {
  background-color: #345cf0;
}

.logo-text {
  color: white;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.btn {
  border-color: #345cf0;
  background-color: #345cf0;
  color: #fff;
}

.banner-text {
  color: #fff;
}

.logo-center {
  text-align: center;
  margin: 0 auto;
}

.nav {
  text-align: center;
}

.nav a:hover {
  background-color: #fff;
  color: #345cf0;
}

.blue {
  background-color: #345cf0;
  color: #fff;
}

.nav a:focus {
  outline: black;
}


.footer {
  background-color: white;
  color: black;
}
